{% extends 'layout.html' %}

<!-- load widget_tweaks -->
{% load widget_tweaks %}

{% load static %}

{% block title %}Login{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block heading %}
{% endblock %}

{% block body %}
<div id="authForms">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div style="background: linear-gradient(135deg, #e72828 0%, #172134 100%);;" class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<div style="top: -1rem; position: relative;" class="message">
											{% for message in messages %}
											{% if "success" in message.tags %}
											<span style="background-color: limegreen; padding: 5px;" class='success_message_box' id='message' >{{ message }}</span>
											{% else %}
												<span style="background-color: #ff3434;" class='error_message_box'>{{ message }}</span>		
											{% endif %}
											{% endfor %}
								
								</div>
								<h2>Welcome back Admin</h2>
									<p>We appreciate your work</p>
									<!-- <a class="btn btn-white btn-outline-white" hx-get="{% url 'register' %}" hx-target="#authForms" hx-swap="innerHTML" hx-push-url="true">sign up</a> -->
								</div>
					  </div>
						<div  class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Sign In</h3>
			      		</div>
								<div class="w-100">
									<p  class="social-media d-flex justify-content-end">
										<a href="#" style="background:red ;"class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" style="background:black ;"class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
					<form action="{% url 'admin_login' %}?next={{ request.GET.next|default:'/staff/admin/auth/adminDashboard' }}" method="POST" class="signin-form">
						{% csrf_token %}
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Username</label>
			      			<!-- <input type="text" class="form-control" placeholder="Username" required> -->
					{% render_field form.username class='form-control' placeholder='Username'  %}
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Password</label>
		              <!-- <input type="password" class="form-control" placeholder="Password" required> -->
					{% render_field form.password class='form-control' placeholder='Password'  %}
		            </div>
		            <div class="form-group">
		            	<button type="submit" style="background: linear-gradient(135deg, #e72828 0%, #172134 100%);" class="form-control btn btn-primary submit px-3">Sign In</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<!-- <div class="w-50 text-left"> -->
			            	<!-- <label class="checkbox-wrap checkbox-primary mb-0">Remember Me -->
									  <!-- <input type="checkbox" checked> -->
									  <!-- <span class="checkmark"></span> -->
										<!-- </label> -->
									<!-- </div> -->
									<!-- <div class="w-50 text-md-right"> -->
									<!-- 	<a hx-get="{% url 'reset_password' %}" hx-target="#authForms" hx-swap="innerHTML" hx-push-url="true" style="cursor: pointer;" >Forgot Password</a> -->
									<!-- </div> -->
		            </div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>
		<script src="js/jquery.min.js"></script>
		<script src="js/popper.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
</div>



{% endblock body %}
