
<!-- //myapp/templates/show.html -->
{% extends "base.html" %}
  
{% block title %}Deposits {% endblock title %}
  
{% block heading %}Deposits {% endblock heading %}

{% block content %}
 <div class="col-md-12">
        <span><a href="/dashboard/" class="btn btn-primary">New Deposit</a></span>  
        <div class="table-responsive">
			<!-- message -->
		{% for message in messages %}
				{% if "success" in message.tags %}
				<span id='message' style="color: green; top: 10%;">{{ message }}</span>
				{% else %}
					<span id='message' style="color: red; top: 10%;">{{ message }}</span>
				{% endif %}
			{% endfor %}

		<table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>ID</th>
            <th>Username</th>
			<th>Transaction Id</th>
			<th>Name</th>
			<th>Amount Deposited</th>
			<th>phone_number</th>
			<th>Date</th>
            <th>Edit</th>
            <th>Deposit</th>
			<th>Delete</th>
        </thead>
        <tbody>
        {% for user in user  %}  
            <tr>  
            <td><input type="checkbox" class="checkthis" /></td>
            <td>{{ user.id }}</td> 
            <td>{{ user.username }}</td>
			<td style="font-size: 1.4rem; font-weight: 900;">{{ user.transactions_id }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.amount_paid }}</td>
			<td>{{ user.phone_number }}</td>
			<td>{{ user.date }}</td>
            <td><a href="/edit_deposit/{{ user.id }}" class="btn btn-primary">Edit</a></td>
            <td><a href="/make_deposit/{{ user.id }}" class="btn btn-success">Deposit</a></td>  
            <td><a href="/destroy_deposit/{{ user.id }}" class="btn btn-danger">Delete</a></td>
			</tr>  

		{% endfor %}
        </tbody>
        </table>
        </div>
    </div>
{% endblock content %}
